@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #0b70e4;
  color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

body.dark {
  background: #2900e2;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.darkModeSwitch {
  background: #2900e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.darkModeSwitch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #fff;
  background: none;
}

.darkModeSwitch::after {
  display: block;
  background: #fffbf5;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 3rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  content: "";
}

.darkModeSwitch.active {
  background: #84b5ec;
}

.darkModeSwitch.active::after {
  left: unset;
  right: 0;
}

header {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: #4F29F0;
  --border-radius: 10px;
  --width: 190px;
  --height: 55px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
          box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input[type="text"] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px 'Varela Round', sans-serif;
  color: var(--text-color);
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.search input[type="text"]:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}

.search input[type="text"]:focus ~ .symbol::before {
  width: 0%;
}

.search input[type="text"]:focus ~ .symbol:after {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  -webkit-transition: -webkit-clip-path .04s linear .105s;
  transition: -webkit-clip-path .04s linear .105s;
  transition: clip-path .04s linear .105s;
  transition: clip-path .04s linear .105s, -webkit-clip-path .04s linear .105s;
}

.search input[type="text"]:focus ~ .symbol .cloud {
  top: -30px;
  left: -30px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.search input[type="text"]:focus ~ .symbol .lens {
  top: 20px;
  left: 15px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  fill: var(--primary-color);
  -webkit-transition: top .5s ease .1s, left .5s ease .1s, fill .3s ease;
  transition: top .5s ease .1s, left .5s ease .1s, fill .3s ease;
}

.search .symbol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .symbol:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.search .symbol:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 21px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
  -webkit-transition: -webkit-clip-path .04s linear .225s;
  transition: -webkit-clip-path .04s linear .225s;
  transition: clip-path .04s linear .225s;
  transition: clip-path .04s linear .225s, -webkit-clip-path .04s linear .225s;
}

.search .symbol .cloud,
.search .symbol .lens {
  position: absolute;
  fill: #fff;
  stroke: none;
  top: 50%;
  left: 50%;
}

.search .symbol .cloud {
  width: 35px;
  height: 32px;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.search .symbol .lens {
  fill: #fff;
  width: 16px;
  height: 16px;
  z-index: 2;
  top: 24px;
  left: 24px;
  -webkit-transition: top .3s ease, left .3s ease, fill .2s ease .2s;
  transition: top .3s ease, left .3s ease, fill .2s ease .2s;
}

.container-bottom, .containertop {
  padding: 10px;
}

.containertop {
  background-color: indianred;
  text-align: center;
}

.container-bottom {
  background-color: indigo;
}

h1 {
  font-weight: 200;
}

h2 {
  padding: 15px;
}

.bi-geo-fill {
  margin-top: 15px;
  margin-right: 5px;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

h4 {
  font-size: 20px;
}

.light {
  font-weight: 200;
}

.bold {
  font-weight: bold;
}

h5 {
  color: red;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.temperaturemax, .temperaturemin {
  font-size: 15px;
  font-weight: bold;
}

.row {
  margin-bottom: 15px;
}

.sprite {
  height: 75px;
  width: 75px;
  background-size: 400px;
  background-image: url("../icons/meteo.png");
  background-repeat: no-repeat;
  background-position: -20px 2px;
}

.sprite-current {
  height: 100px;
  width: 100px;
  background-image: url("../icons/meteo.png");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: -68px -22px;
}

#current {
  text-align: center;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-line {
  border-left: 2px solid white;
  display: inline-block;
  height: 70px;
  margin: 0 20px;
}

.top20 {
  padding-top: 20px;
}

.left {
  margin-right: -100px;
}

.right {
  margin-left: -100px;
}

footer {
  padding: 10px;
  background-color: #ff00d4;
}
/*# sourceMappingURL=style.css.map */